Repository mts/mts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/http-server/src/**/**/*.js --fix, prettier --write "packages/http-server/src/**/**/*.js", stylelint "packages/client/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/client/src/**/**/*.scss"

update prettier setup
  .prettierignore
Due: none

update jest setup
  jest.config.js
  jest.setup.js
Due: none

update babel setup
  babel.config.js
Due: none

update sylelint setup
  .stylelintignore
  .stylelintrc
Due: none

remove former storybook setup
  .storybook/addons.js
  .storybook/config.js
  .storybook/library.js
  .storybook/logo.png
  .storybook/webpack.config.js
  .storybook/welcomeStory.js
Due: none

add new storybook setup
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
Due: none

remove storybook babel setup
  .storybook/.babelrc
Due: none

move mock file
  .mock/file.js
  packages/client/src/mock/file.js
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

replace react-axe with @axe-core/react
  packages/library/src/client/startup.js
Due: none

update server babel setup
  packages/http-server/babel.config.js
Due: none

remove license
  packages/http-server/LICENSE
Due: none

lint format server
  packages/http-server/src/server.js
Due: eslint --ext .js --ext .jsx packages/http-server/src/**/**/*.js --fix, prettier --write "packages/http-server/src/**/**/*.js"

update server readme
  packages/http-server/README.md
Due: none

add server update-packages
  packages/http-server/update-packages.sh
Due: none

add client update-packages
  packages/client/update-packages.sh
Due: none

update client readme
  packages/client/README.md
Due: none

remove client license
  packages/client/LICENSE
Due: none

implement ErrorBoundary component story format
  packages/client/src/pattern/atom/ErrorBoundary/__tests__/ErrorBoundary.int.render.js
  packages/client/src/pattern/atom/ErrorBoundary/__tests__/ErrorBoundary.int.story.js
  packages/client/src/pattern/atom/ErrorBoundary/__tests__/ErrorBoundary.int.test.js
  packages/client/src/pattern/atom/ErrorBoundary/__tests__/__snapshots__/ErrorBoundary.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement Image component story format
  packages/client/src/pattern/atom/Image/__tests__/Image.int.render.js
  packages/client/src/pattern/atom/Image/__tests__/Image.int.story.js
  packages/client/src/pattern/atom/Image/__tests__/Image.int.test.js
  packages/client/src/pattern/atom/Image/__tests__/__snapshots__/Image.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement LoremIpsum component story format
  packages/client/src/pattern/atom/LoremIpsum/__tests__/LoremIpsum.int.render.js
  packages/client/src/pattern/atom/LoremIpsum/__tests__/LoremIpsum.int.story.js
  packages/client/src/pattern/atom/LoremIpsum/__tests__/LoremIpsum.int.test.js
  packages/client/src/pattern/atom/LoremIpsum/__tests__/__snapshots__/LoremIpsum.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement NoMatch component story format
  packages/client/src/pattern/atom/NoMatch/__tests__/NoMatch.int.render.js
  packages/client/src/pattern/atom/NoMatch/__tests__/NoMatch.int.story.js
  packages/client/src/pattern/atom/NoMatch/__tests__/NoMatch.int.test.js
  packages/client/src/pattern/atom/NoMatch/__tests__/__snapshots__/NoMatch.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement UnderConstruction component story format
  packages/client/src/pattern/atom/UnderConstruction/__tests__/UnderConstruction.int.render.js
  packages/client/src/pattern/atom/UnderConstruction/__tests__/UnderConstruction.int.story.js
  packages/client/src/pattern/atom/UnderConstruction/__tests__/UnderConstruction.int.test.js
  packages/client/src/pattern/atom/UnderConstruction/__tests__/__snapshots__/UnderConstruction.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

remove clientRenderApp tests
  packages/client/src/__tests__/__snapshots__/clientRenderApp.int.test.js.snap
  packages/client/src/__tests__/clientRenderApp.int.render.js
  packages/client/src/__tests__/clientRenderApp.int.test.js
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement AboutMain component story format
  packages/client/src/pattern/molecule/AboutMain/__tests__/AboutMain.int.render.js
  packages/client/src/pattern/molecule/AboutMain/__tests__/AboutMain.int.story.js
  packages/client/src/pattern/molecule/AboutMain/__tests__/AboutMain.int.test.js
  packages/client/src/pattern/molecule/AboutMain/__tests__/__snapshots__/AboutMain.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement BlogMain component story format
  packages/client/src/pattern/molecule/BlogMain/__tests__/BlogMain.int.render.js
  packages/client/src/pattern/molecule/BlogMain/__tests__/BlogMain.int.story.js
  packages/client/src/pattern/molecule/BlogMain/__tests__/BlogMain.int.test.js
  packages/client/src/pattern/molecule/BlogMain/__tests__/__snapshots__/BlogMain.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement Book component story format
  packages/client/src/pattern/molecule/Book/__tests__/Book.int.render.js
  packages/client/src/pattern/molecule/Book/__tests__/Book.int.story.js
  packages/client/src/pattern/molecule/Book/__tests__/Book.int.test.js
  packages/client/src/pattern/molecule/Book/__tests__/__snapshots__/Book.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement CoursesContent component story format
  packages/client/src/pattern/molecule/CoursesContent/__tests__/CoursesContent.int.render.js
  packages/client/src/pattern/molecule/CoursesContent/__tests__/CoursesContent.int.story.js
  packages/client/src/pattern/molecule/CoursesContent/__tests__/CoursesContent.int.test.js
  packages/client/src/pattern/molecule/CoursesContent/__tests__/__snapshots__/CoursesContent.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement CoursesHeader component story format
  packages/client/src/pattern/molecule/CoursesHeader/__tests__/CoursesHeader.int.render.js
  packages/client/src/pattern/molecule/CoursesHeader/__tests__/CoursesHeader.int.story.js
  packages/client/src/pattern/molecule/CoursesHeader/__tests__/CoursesHeader.int.test.js
  packages/client/src/pattern/molecule/CoursesHeader/__tests__/__snapshots__/CoursesHeader.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement Footer component story format
  packages/client/src/pattern/molecule/Footer/__tests__/Footer.int.render.js
  packages/client/src/pattern/molecule/Footer/__tests__/Footer.int.story.js
  packages/client/src/pattern/molecule/Footer/__tests__/Footer.int.test.js
  packages/client/src/pattern/molecule/Footer/__tests__/__snapshots__/Footer.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement HomeMain component story format
  packages/client/src/pattern/molecule/HomeMain/__tests__/HomeMain.int.render.js
  packages/client/src/pattern/molecule/HomeMain/__tests__/HomeMain.int.story.js
  packages/client/src/pattern/molecule/HomeMain/__tests__/HomeMain.int.test.js
  packages/client/src/pattern/molecule/HomeMain/__tests__/__snapshots__/HomeMain.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement Navigation component story format
  packages/client/src/pattern/molecule/Navigation/__tests__/Navigation.int.render.js
  packages/client/src/pattern/molecule/Navigation/__tests__/Navigation.int.story.js
  packages/client/src/pattern/molecule/Navigation/__tests__/Navigation.int.test.js
  packages/client/src/pattern/molecule/Navigation/__tests__/__snapshots__/Navigation.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement Newsletter component story format
  packages/client/src/pattern/molecule/Newsletter/__tests__/Newsletter.int.render.js
  packages/client/src/pattern/molecule/Newsletter/__tests__/Newsletter.int.story.js
  packages/client/src/pattern/molecule/Newsletter/__tests__/Newsletter.int.test.js
  packages/client/src/pattern/molecule/Newsletter/__tests__/__snapshots__/Newsletter.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement ShareButtons component story format
  packages/client/src/pattern/molecule/ShareButtons/__tests__/ShareButtons.int.render.js
  packages/client/src/pattern/molecule/ShareButtons/__tests__/ShareButtons.int.story.js
  packages/client/src/pattern/molecule/ShareButtons/__tests__/ShareButtons.int.test.js
  packages/client/src/pattern/molecule/ShareButtons/__tests__/__snapshots__/ShareButtons.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

lint format
  packages/client/src/route/__tests__/index.test.js
  packages/client/src/route/__tests__/path.test.js
  packages/client/src/store/reducer/__tests__/index.test.js
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement AboutPage component story format
  packages/client/src/pattern/page/AboutPage/__tests__/AboutPage.int.render.js
  packages/client/src/pattern/page/AboutPage/__tests__/AboutPage.int.story.js
  packages/client/src/pattern/page/AboutPage/__tests__/AboutPage.int.test.js
  packages/client/src/pattern/page/AboutPage/__tests__/__snapshots__/AboutPage.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement BlogPage component story format
  packages/client/src/pattern/page/BlogPage/__tests__/BlogPage.int.render.js
  packages/client/src/pattern/page/BlogPage/__tests__/BlogPage.int.story.js
  packages/client/src/pattern/page/BlogPage/__tests__/BlogPage.int.test.js
  packages/client/src/pattern/page/BlogPage/__tests__/__snapshots__/BlogPage.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement CoursesPage component story format
  packages/client/src/pattern/page/CoursesPage/__tests__/CoursesPage.int.render.js
  packages/client/src/pattern/page/CoursesPage/__tests__/CoursesPage.int.story.js
  packages/client/src/pattern/page/CoursesPage/__tests__/CoursesPage.int.test.js
  packages/client/src/pattern/page/CoursesPage/__tests__/__snapshots__/CoursesPage.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement HomePage component story format
  packages/client/src/pattern/page/HomePage/__tests__/HomePage.int.render.js
  packages/client/src/pattern/page/HomePage/__tests__/HomePage.int.story.js
  packages/client/src/pattern/page/HomePage/__tests__/HomePage.int.test.js
  packages/client/src/pattern/page/HomePage/__tests__/__snapshots__/HomePage.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement NotFoundPage component story format
  packages/client/src/pattern/page/NotFoundPage/__tests__/NotFoundPage.int.render.js
  packages/client/src/pattern/page/NotFoundPage/__tests__/NotFoundPage.int.story.js
  packages/client/src/pattern/page/NotFoundPage/__tests__/NotFoundPage.int.test.js
  packages/client/src/pattern/page/NotFoundPage/__tests__/__snapshots__/NotFoundPage.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement AboutTemplate component story format
  packages/client/src/pattern/template/AboutTemplate/__tests__/AboutTemplate.int.render.js
  packages/client/src/pattern/template/AboutTemplate/__tests__/AboutTemplate.int.story.js
  packages/client/src/pattern/template/AboutTemplate/__tests__/AboutTemplate.int.test.js
  packages/client/src/pattern/template/AboutTemplate/__tests__/__snapshots__/AboutTemplate.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

Path conditions:
  eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix: any of: packages/client/src/**/*.{js,jsx}
  prettier --write "packages/client/src/**/**/*.{js,jsx}": any of: packages/client/src/**/*.{js,jsx}
  eslint --ext .js --ext .jsx packages/http-server/src/**/**/*.js --fix: any of: packages/http-server/src/**/*.js
  prettier --write "packages/http-server/src/**/**/*.js": any of: packages/http-server/src/**/*.js
  stylelint "packages/client/src/**/**/*.scss" --syntax=scss --fix: any of: packages/client/src/**/*.scss
  prettier --write "packages/client/src/**/**/*.scss": any of: packages/client/src/**/*.scss
