Repository mts/mts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}", eslint --ext .js --ext .jsx packages/http-server/src/**/**/*.js --fix, prettier --write "packages/http-server/src/**/**/*.js", stylelint "packages/client/src/**/**/*.scss" --syntax=scss --fix, prettier --write "packages/client/src/**/**/*.scss"

implement BlogTemplate component story format
  packages/client/src/pattern/template/BlogTemplate/__tests__/BlogTemplate.int.render.js
  packages/client/src/pattern/template/BlogTemplate/__tests__/BlogTemplate.int.story.js
  packages/client/src/pattern/template/BlogTemplate/__tests__/BlogTemplate.int.test.js
  packages/client/src/pattern/template/BlogTemplate/__tests__/__snapshots__/BlogTemplate.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement CoursesTemplate component story format
  packages/client/src/pattern/template/CoursesTemplate/__tests__/CoursesTemplate.int.render.js
  packages/client/src/pattern/template/CoursesTemplate/__tests__/CoursesTemplate.int.story.js
  packages/client/src/pattern/template/CoursesTemplate/__tests__/CoursesTemplate.int.test.js
  packages/client/src/pattern/template/CoursesTemplate/__tests__/__snapshots__/CoursesTemplate.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement HomeTemplate component story format
  packages/client/src/pattern/template/HomeTemplate/__tests__/HomeTemplate.int.render.js
  packages/client/src/pattern/template/HomeTemplate/__tests__/HomeTemplate.int.story.js
  packages/client/src/pattern/template/HomeTemplate/__tests__/HomeTemplate.int.test.js
  packages/client/src/pattern/template/HomeTemplate/__tests__/__snapshots__/HomeTemplate.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

implement NotFoundTemplate component story format
  packages/client/src/pattern/template/NotFoundTemplate/__tests__/NotFoundTemplate.int.render.js
  packages/client/src/pattern/template/NotFoundTemplate/__tests__/NotFoundTemplate.int.story.js
  packages/client/src/pattern/template/NotFoundTemplate/__tests__/NotFoundTemplate.int.test.js
  packages/client/src/pattern/template/NotFoundTemplate/__tests__/__snapshots__/NotFoundTemplate.int.test.js.snap
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

update scripts and dependencies
  package-lock.json
  package.json
Due: none

update mock file
  .mock/file.js
Due: none

update server scripts and dependencies
  packages/http-server/package-lock.json
  packages/http-server/package.json
Due: none

update client scripts and dependencies
  packages/client/package-lock.json
  packages/client/package.json
Due: none

update client webpack setup
  packages/client/webpack.common.js
  packages/client/webpack.develop.js
  packages/client/webpack.release.js
Due: none

update mts
  packages/http-server/src/mts/404.html
  packages/http-server/src/mts/app-modern.4cae.js
  packages/http-server/src/mts/app-modern.4cae.js.LICENSE.txt
  packages/http-server/src/mts/app-modern.4cae.js.map
  packages/http-server/src/mts/app-modern.c97d.js
  packages/http-server/src/mts/app-modern.c97d.js.map
  packages/http-server/src/mts/app.4cae.css
  packages/http-server/src/mts/app.4cae.css.map
  packages/http-server/src/mts/app.c97d.css
  packages/http-server/src/mts/app.c97d.css.map
  packages/http-server/src/mts/index.html
Due: eslint --ext .js --ext .jsx packages/http-server/src/**/**/*.js --fix, prettier --write "packages/http-server/src/**/**/*.js"

update mts
  packages/http-server/.env
  packages/http-server/src/mts/404.html
  packages/http-server/src/mts/app-modern.4fbb.js
  packages/http-server/src/mts/app-modern.4fbb.js.map
  packages/http-server/src/mts/app-modern.c97d.js
  packages/http-server/src/mts/app-modern.c97d.js.map
  packages/http-server/src/mts/app.4fbb.css
  packages/http-server/src/mts/app.4fbb.css.map
  packages/http-server/src/mts/app.c97d.css.map
  packages/http-server/src/mts/index.html
Due: eslint --ext .js --ext .jsx packages/http-server/src/**/**/*.js --fix, prettier --write "packages/http-server/src/**/**/*.js"

Updates
  404.html
  app-modern.4cae.js
  app-modern.4cae.js.LICENSE.txt
  app-modern.4cae.js.map
  app-modern.4fbb.js
  app-modern.4fbb.js.map
  app.4cae.css
  app.4cae.css.map
  app.4fbb.css
  app.4fbb.css.map
  index.html
  manifest.json
  report-modern.html
Due: none

remove logo
  .docs/image/logo.jpg
Due: none

npm update mts
  package-lock.json
  package.json
Due: none

pin dotenv-webpack version to 6.0.4
  update-packages.sh
Due: none

npm update mts client
  packages/client/package-lock.json
Due: none

npm update mts server
  packages/http-server/package-lock.json
Due: none

npm update mts server
  packages/http-server/package-lock.json
  packages/http-server/package.json
Due: none

rename update-packages to bumpstack
  bumpstack.sh
  packages/client/bumpstack.sh
  packages/http-server/bumpstack.sh
Due: none

bump stack mts
  package-lock.json
  package.json
  packages/client/package-lock.json
Due: none

add .jest-test-results.json
  .eslintignore
  .gitignore
  .jest-test-results.json
  .prettierignore
  .stylelintignore
Due: none

bump stack mts
  package-lock.json
  packages/client/package-lock.json
Due: none

bump stack mts
  .jest-test-results.json
  package-lock.json
  package.json
Due: none

bump stack mts
  .jest-test-results.json
  package-lock.json
Due: none

bump stack mts
  .jest-test-results.json
  package-lock.json
  package.json
  packages/client/package-lock.json
Due: none

enable react jsx transform
  .eslintrc
  babel.config.js
  package.json
  packages/client/webpack.release.js
Due: none

apply react jsx transform server
  packages/http-server/src/server.js
Due: eslint --ext .js --ext .jsx packages/http-server/src/**/**/*.js --fix, prettier --write "packages/http-server/src/**/**/*.js"

bump stack mts
  .jest-test-results.json
  bumpstack.sh
  package-lock.json
  package.json
  packages/client/package-lock.json
  packages/client/webpack.common.js
  packages/http-server/babel.config.js
Due: none

remove ununsed
  packages/client/src/serverRenderApp.js
Due: eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix, prettier --write "packages/client/src/**/**/*.{js,jsx}"

Path conditions:
  eslint --ext .js --ext .jsx packages/client/src/**/**/*.{js,jsx} --fix: any of: packages/client/src/**/*.{js,jsx}
  prettier --write "packages/client/src/**/**/*.{js,jsx}": any of: packages/client/src/**/*.{js,jsx}
  eslint --ext .js --ext .jsx packages/http-server/src/**/**/*.js --fix: any of: packages/http-server/src/**/*.js
  prettier --write "packages/http-server/src/**/**/*.js": any of: packages/http-server/src/**/*.js
  stylelint "packages/client/src/**/**/*.scss" --syntax=scss --fix: any of: packages/client/src/**/*.scss
  prettier --write "packages/client/src/**/**/*.scss": any of: packages/client/src/**/*.scss
